{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<h2>Welcome to the Minecart Rapid Transit File Server!</h2>
<span>This server currently provides the following functions for MRT members:</span>
<ul>
  <li><a href="{{ url_for('upload_schematics') }}">Schematic Uploader</a> - Upload WorldEdit schematic files to the Minecraft server.</li>
  <li><a href="{{ url_for('download_schematics') }}">Schematic Downloader</a> - Download WorldEdit schematic files from the Minecraft server.</li>
  <li><a href="{{ url_for('show_world_downloads_terms') }}">World Downloads</a> - Download archives of the MRT worlds to your local computer.</li>
</ul>
{% if footer %}
<hr />
<span><a href="https://www.minecartrapidtransit.net">Back to the MRT Website</a></span>
{% endif %}
{% endblock %}