{% extends "layout.html" %}
{% block title %}Schematic Downloader{% endblock %}
{% block body %}
<span>Download schematic files directly from the Minecraft server here. After a staff member has created the schematic for you, ask them for the name of the file that you can enter below.</span>

<form method="post" action-{{ url_for('download_schematic') }}>
  <h2>Enter the name of the schematic file:</h2>
  <span>Filename:</span>
  <input type="text" id="fileName" name="fileName" />
  <select id="fileExtension" name="fileExtension">
    <option value="schem" selected>.schem</option>
    <option value="schematic">.schematic</option>
  </select>
  <br />
  <br />
  <input type="submit" value="Download" name="submit" />
</form>
{% endblock %}