{% extends "layout.html" %}
{% block title %}Download Worlds{% endblock %}
{% block body %}
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

ul {
  margin: 0;
  padding-left: 20px;
}

.nowrap {
  white-space: nowrap;
}
</style>
<h2>Instructions</h2>

These world downloads are provided by two different means:
<ul>
  <li>All New World downloads are provided via BitTorrent in order to provide faster and more reliable transfers for such large files.</li>
  <li>All other world downloads can be directly downloaded from the file server by clicking the links below.</li>
</ul>

<h3>How to download the New World via BitTorrent</h3>
<ol>
  <li>Download and install a BitTorrent client to your local computer, such as <a href="https://transmissionbt.com/" target="_blank">Transmission</a> or <a href="https://deluge-torrent.org/" target="_blank">Deluge</a>.</li>
  <li>In your BitTorrent client settings, ensure that <strong>encryption for incoming and outgoing connections</strong> is set to <strong>"Enabled"</strong> or <strong>"Preferred"</strong> (not "Disabled"/"Allowed" or "Forced"/"Required"). If there is also an option to set the encryption level to "Full Stream", please do so.</li>
  <li>Download the New World torrent file from one of the links below, and add the torrent to your client.</li>
  <li>You may have to wait a few minutes before the client finds other seeds and peers and starts downloading. If the download still doesn't start, you can try the following:
    <ol type="a">
      <li>Pause/resume the torrent several times, or have it ask/update the tracker for more peers.</li>
      <li>Check that your network/ports/router/ISP allows for torrent traffic.</li>
    </ol>
  </li>
</ol>

<h3>How to extract the 7z file</h3>
<ul>
  <li>Download and install <a href="http://www.7-zip.org" target="_blank">7-zip</a> to your local computer.</li>
  <li>Use 7-zip to extract the 7z file. When prompted, enter the password: <strong>BusesTrainsShipsPlanesOhMy!</strong></li>
</ul>

<hr \>

<h2>Downloads</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Server</th>
    <th>Minecraft Version</th>
    <th>New World</th>
    <th>Old World</th>
    <th>Lab World</th>
    <th>Games World</th>
    <th>Space World</th>
    <th>Map World</th>
    <th>Staff World</th>
  </tr>
  <tr>
    <td class="nowrap">2012-07-13</td>
    <td>
      <ul>
        <li><strong>Server opens to the public with the Old World.</strong></li>
        <li>Download this for the pristine Old World with the 4 MRT v4.1 lines built by Frumple:
          <ul>
            <li>Blue, Green, Yellow, and Red.</li>
          </ul>
        </li>
      </ul>
    </td>
    <td>Alpha</td>
    <td>1.2.5</td>
    <td class="nowrap">-</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2012-07-13/mrt-server-world-2012-07-13.7z') }}" download>Download (650 MB)</a></td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
  </tr>
  <tr>
    <td class="nowrap">2012-12-17</td>
    <td>
      <ul>
        <li>5 months after opening.</li>
      </ul>
    </td>
    <td>Alpha</td>
    <td>1.3.2</td>
    <td class="nowrap">-</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2012-12-17/mrt-server-world-2012-12-17.7z') }}" download>Download (867 MB)</a></td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
  </tr>
  <tr>
    <td class="nowrap">2013-08-13</td>
    <td>
      <ul>
        <li>1 year and 1 month after opening.</li>
      </ul>
    </td>
    <td>Omega</td>
    <td>1.5.2</td>
    <td class="nowrap">-</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2013-08-13/mrt-server-world-2013-08-13.7z') }}" download>Download (909 MB)</a></td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
  </tr>
  <tr>
    <td class="nowrap">2014-01-04</td>
    <td>
      <ul>
        <li>1 year and 6 months after opening.</li>
      </ul>
    </td>
    <td>Omega</td>
    <td>1.7.4</td>
    <td class="nowrap">-</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2014-01-04/mrt-server-world-2014-01-04.7z') }}" download>Download (919 MB)</a></td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
  </tr>
  <tr>
    <td class="nowrap">2014-10-03</td>
    <td>
      <ul>
        <li><strong>Gamma Server opens, adding the New, Lab, Games, and Space Worlds.</strong></li>
        <li>Download this for the pristine New World with all of the new MRT v5.0 lines built by MRT staff members:
          <ul>
            <li>Arctic, Circle, Desert, Expo, Forest, Island, Mesa, Plains, Taiga, Valley, and Zephyr.</li>
          </ul>
        </li>
      </ul>
    </td>
    <td>Gamma</td>
    <td>1.8.0</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2014-10-03/mrt-server-world-new-2014-10-03.7z.torrent') }}" download>Torrent File (104 KB)</a><br \>Archive size: 5.16 GB</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2014-10-03/mrt-server-world-old-2014-10-03.7z') }}" download>Download (938 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2014-10-03/mrt-server-world-lab-2014-10-03.7z') }}" download>Download (2 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2014-10-03/mrt-server-world-games-2014-10-03.7z') }}" download>Download (2 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2014-10-03/mrt-server-world-space-2014-10-03.7z') }}" download>Download (3 MB)</a></td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
  </tr>
  <tr>
    <td class="nowrap">2015-12-14</td>
    <td>
      <ul>
        <li>1 year and 2 months after the migration to the Gamma Server.</li>
      </ul>
    </td>
    <td>Gamma</td>
    <td>1.8.8</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2015-12-14/mrt-server-world-new-2015-12-14.7z.torrent') }}" download>Torrent File (114 KB)</a><br \>Archive size: 5.66 GB</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2015-12-14/mrt-server-world-old-2015-12-14.7z') }}" download>Download (952 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2015-12-14/mrt-server-world-lab-2015-12-14.7z') }}" download>Download (33 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2015-12-14/mrt-server-world-games-2015-12-14.7z') }}" download>Download (15 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2015-12-14/mrt-server-world-space-2015-12-14.7z') }}" download>Download (5 MB)</a></td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
  </tr>
  <tr>
    <td class="nowrap">2016-12-27</td>
    <td>
      <ul>
        <li><strong>Gamma Server closes / Epsilon Server opens.</strong></li>
        <li>This is the last archive of the Gamma New World in its original 20000 by 20000 size before it got expanded as part of the Epsilon migration.</li>
      </ul>
    </td>
    <td>Gamma</td>
    <td>1.8.8</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2016-12-27/mrt-server-world-new-2016-12-27.7z.torrent') }}" download>Torrent File (117 KB)</a><br \>Archive size: 5.80 GB</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2016-12-27/mrt-server-world-old-2016-12-27.7z') }}" download>Download (956 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2016-12-27/mrt-server-world-lab-2016-12-27.7z') }}" download>Download (52 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2016-12-27/mrt-server-world-games-2016-12-27.7z') }}" download>Download (21 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2016-12-27/mrt-server-world-space-2016-12-27.7z') }}" download>Download (6 MB)</a></td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
  </tr>
  <tr>
    <td class="nowrap">2017-06-12</td>
    <td>
      <ul>
        <li>6 months after the Epsilon migration.</li>
        <li>This is the first archive of the Epsilon New World in its expanded 36000 by 36000 size.</li>
      </ul>
    </td>
    <td>Epsilon</td>
    <td>1.11.2</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2017-06-12/mrt-server-world-new-2017-06-12.7z.torrent') }}" download>Torrent File (345 KB)</a><br \>Archive size: 17.2 GB</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2017-06-12/mrt-server-world-old-2017-06-12.7z') }}" download>Download (957 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2017-06-12/mrt-server-world-lab-2017-06-12.7z') }}" download>Download (80 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2017-06-12/mrt-server-world-games-2017-06-12.7z') }}" download>Download (24 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2017-06-12/mrt-server-world-space-2017-06-12.7z') }}" download>Download (7 MB)</a></td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
  </tr>
  <tr>
    <td class="nowrap">2017-12-12</td>
    <td>
      <ul>
        <li>1 year after the Epsilon migration.</li>
      </ul>
    </td>
    <td>Epsilon</td>
    <td>1.12.2</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2017-12-12/mrt-server-world-new-2017-12-12.7z.torrent') }}" download>Torrent File (347 KB)</a><br \>Archive size: 17.3 GB</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2017-12-12/mrt-server-world-old-2017-12-12.7z') }}" download>Download (957 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2017-12-12/mrt-server-world-lab-2017-12-12.7z') }}" download>Download (174 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2017-12-12/mrt-server-world-games-2017-12-12.7z') }}" download>Download (30 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2017-12-12/mrt-server-world-space-2017-12-12.7z') }}" download>Download (14 MB)</a></td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
  </tr>
  <tr>
    <td class="nowrap">2018-07-13</td>
    <td>
      <ul>
        <li>6th Anniversary of the MRT Server.</li>
      </ul>
    </td>
    <td>Epsilon</td>
    <td>1.12.2</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2018-07-13/mrt-server-world-new-2018-07-13.7z.torrent') }}" download>Torrent File (347 KB)</a><br \>Archive size: 17.3 GB</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2018-07-13/mrt-server-world-old-2018-07-13.7z') }}" download>Download (958 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2018-07-13/mrt-server-world-lab-2018-07-13.7z') }}" download>Download (226 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2018-07-13/mrt-server-world-games-2018-07-13.7z') }}" download>Download (36 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2018-07-13/mrt-server-world-space-2018-07-13.7z') }}" download>Download (16 MB)</a></td>
    <td class="nowrap">-</td>
    <td class="nowrap">-</td>
  </tr>
  <tr>
    <td class="nowrap">2019-07-01</td>
    <td>
      <ul>
        <li>Just before the 7th Anniversary of the MRT Server.</li>
        <li>Includes the Map World, added on April 17, 2019.</li>
      </ul>
    </td>
    <td>Epsilon</td>
    <td>1.13.2</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2019-07-01/mrt-server-world-new-2019-07-01.7z.torrent') }}" download>Torrent File (477 KB)</a><br \>Archive size: 23.7 GB</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2019-07-01/mrt-server-world-old-2019-07-01.7z') }}" download>Download (1.03 GB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2019-07-01/mrt-server-world-lab-2019-07-01.7z') }}" download>Download (410 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2019-07-01/mrt-server-world-games-2019-07-01.7z') }}" download>Download (85 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2019-07-01/mrt-server-world-space-2019-07-01.7z') }}" download>Download (31 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2019-07-01/mrt-server-world-map-2019-07-01.7z') }}" download>Download (16 MB)</a></td>
    <td class="nowrap">-</td>
  </tr>
  <tr>
    <td class="nowrap">2020-02-18</td>
    <td>
      <ul>
        <li><strong>Epsilon Server closes / Zeta Server opens.</strong></li>
        <li>This is the last archive of the Epsilon New World in its 36000 by 36000 size before it got expanded as part of the Zeta migration.</li>
      </ul>
    </td>
    <td>Epsilon</td>
    <td>1.13.2</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2020-02-18/mrt-server-world-new-2020-02-18.7z.torrent') }}" download>Torrent File (484 KB)</a><br \>Archive size: 24.1 GB</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2020-02-18/mrt-server-world-old-2020-02-18.7z') }}" download>Download (1.03 GB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2020-02-18/mrt-server-world-lab-2020-02-18.7z') }}" download>Download (471 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2020-02-18/mrt-server-world-games-2020-02-18.7z') }}" download>Download (99 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2020-02-18/mrt-server-world-space-2020-02-18.7z') }}" download>Download (40 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2020-02-18/mrt-server-world-map-2020-02-18.7z') }}" download>Download (19 MB)</a></td>
    <td class="nowrap">-</td>
  </tr>
  <tr>
    <td class="nowrap">2021-03-01</td>
    <td>
      <ul>
        <li>1 year after the Zeta migration.</li>
        <li>This is the first archive of the Zeta New World in its current 60000 by 60000 size.</li>
      </ul>
    </td>
    <td>Zeta</td>
    <td>1.16.5</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2021-03-01/mrt-server-world-new-2021-03-01.7z.torrent') }}" download>Torrent File (1.31 MB)</a><br \>Archive size: 67.4 GB</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2021-03-01/mrt-server-world-old-2021-03-01.7z') }}" download>Download (1.06 GB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2021-03-01/mrt-server-world-lab-2021-03-01.7z') }}" download>Download (601 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2021-03-01/mrt-server-world-games-2021-03-01.7z') }}" download>Download (129 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2021-03-01/mrt-server-world-space-2021-03-01.7z') }}" download>Download (52 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2021-03-01/mrt-server-world-map-2021-03-01.7z') }}" download>Download (30 MB)</a></td>
    <td class="nowrap">-</td>
  </tr>
  <tr>
    <td class="nowrap">2022-01-01</td>
    <td>
      <ul>
        <li>World downloads for 2022.</li>
        <li>Includes the Staff World, opened to the public on September 11, 2021.</li>
      </ul>
    </td>
    <td>Zeta</td>
    <td>1.17.1</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2022-01-01/mrt-server-world-new-2022-01-01.7z.torrent') }}" download>Torrent File (1.35 MB)</a><br \>Archive size: 69.3 GB</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2022-01-01/mrt-server-world-old-2022-01-01.7z') }}" download>Download (1.07 GB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2022-01-01/mrt-server-world-lab-2022-01-01.7z') }}" download>Download (634 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2022-01-01/mrt-server-world-games-2022-01-01.7z') }}" download>Download (133 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2022-01-01/mrt-server-world-space-2022-01-01.7z') }}" download>Download (54 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2022-01-01/mrt-server-world-map-2022-01-01.7z') }}" download>Download (31 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2022-01-01/mrt-server-world-staff-2022-01-01.7z') }}" download>Download (139 MB)</a></td>
  </tr>
  <tr>
    <td class="nowrap">2023-02-01</td>
    <td>
      <ul>
        <li>World downloads for 2023.</li>
      </ul>
    </td>
    <td>Zeta</td>
    <td>1.19.3</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2023-02-01/mrt-server-world-new-2023-02-01.7z.torrent') }}" download>Torrent File (126 KB)</a><br \>Archive size: 100 GB</td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2023-02-01/mrt-server-world-old-2023-02-01.7z') }}" download>Download (1.41 GB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2023-02-01/mrt-server-world-lab-2023-02-01.7z') }}" download>Download (706 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2023-02-01/mrt-server-world-games-2023-02-01.7z') }}" download>Download (145 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2023-02-01/mrt-server-world-space-2023-02-01.7z') }}" download>Download (56 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2023-02-01/mrt-server-world-map-2023-02-01.7z') }}" download>Download (45 MB)</a></td>
    <td class="nowrap"><a href="{{ url_for('download_world', filename = '2023-02-01/mrt-server-world-staff-2023-02-01.7z') }}" download>Download (165 MB)</a></td>
  </tr>
</table>
{% endblock %}